# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/

# Builds
[Bb]uild/
[Bb]uilds/

# IDE / editor files
.vs/
.vscode/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
fmod_editor.log

# OS / misc
.DS_Store
Thumbs.db
